.customize-partial-edit-shortcut-alchem_section_0_image_0
  .customize-partial-edit-shortcut-button {
  left: 60px;
  top: 50px;
}
.customize-partial-edit-shortcut-alchem_section_0_image_1
  .customize-partial-edit-shortcut-button {
  left: 60px;
  top: 50px;
}
.customize-partial-edit-shortcut-alchem_youtube_content
  .customize-partial-edit-shortcut-button {
  left: 60px;
}
.customize-partial-edit-shortcut-alchem_enable_page_title_bar
  .customize-partial-edit-shortcut-button {
  top: -150px;
}
.customize-partial-edit-shortcut-alchem_header_style
  .customize-partial-edit-shortcut-button {
  top: 30px;
}
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_0
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_1
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_2
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_3
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_4
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_5
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_6
  .customize-partial-edit-shortcut-button,
.alchem-home-style-4
  .customize-partial-edit-shortcut-alchem_section_3_image_7
  .customize-partial-edit-shortcut-button {
  left: 32px;
}
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_0
  .customize-partial-edit-shortcut-button,
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_1
  .customize-partial-edit-shortcut-button,
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_2
  .customize-partial-edit-shortcut-button,
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_3
  .customize-partial-edit-shortcut-button,
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_4
  .customize-partial-edit-shortcut-button,
.alchem-home-style-5
  .customize-partial-edit-shortcut-alchem_section_7_avatar_5
  .customize-partial-edit-shortcut-button {
  left: 10px;
}
table.property {
  border: 0 none;
  padding: 0;
}
table.property tr {
}
table.property tr:first-child {
}
table.property tr:last-child {
}
table.property tr td {
  border-bottom: 1px solid #dadada;
  border-right: 0 none;
  padding: 12px 0;
}
table.property tr:first-child td {
  border-bottom: 2px solid #1e70b7;
}
table.property tr:last-child td {
  border-bottom: 2px solid #ec1848;
}
